* {
  margin: 0;
  padding: 0;
  color: black;
}

#app {
  margin: 20px;
}

.cards {
  display: flex;
  gap: 100px;
}

.cards section {
  width: 500px;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selected {
  font-weight: bold;
  font-style: italic;
}

h1 {
  padding: 20px 0px;
  text-align: center;
}

h2 {
  padding: 10px 0px;
}

li {
  list-style-type: none;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 5px 10px;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
